<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<title>Syncretic Project</title>
		<style>
			.onButton {
				width: 10em;
				height: 10em;
			}
			.offButton {
				width: 10em;
				height: 10em;
			}
			.disconnectButton{
				margin-left: 90px;
				height: 5em;
			}
		</style>
	</head>
	<body>

		<!-- Led Control -->
		<div class='LED-Control'>
			<h1>Control LED</h1>
			<div class='LED-Buttons'>
				<form action='#' method='POST'>
					<button class='onButton' onclick="ledOn()" name="on" value="on">On</button>
					<button class='offButton' onclick="ledOff()" name="off" value="off">Off</button>
				</form>
			</div>
			<button class='disconnectButton' onclick="disconnect()" name="dis" value="dis">Disconnect</button>
		</div>
	</body>
</html>